a:active, /* активная/посещенная ссылка */
a:hover,  /* при наведении */
a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  padding: 70px 10px 0 10px;
  margin: 0;
}

button {
  box-shadow: none;
  border: none;
  cursor: pointer;
  color: #fff;
}

h1 {
  font-size: 36px;
  text-align: center;
  margin: 0 0 20px 0;
  color: rgb(38, 23, 65);
}

.nav {
  background-color: rgb(157, 211, 238);
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
}

.list-lessons {
  margin: 0;
  padding: 10px;
  display: flex;
  
}

.item-lesson, .btn {
  padding: 10px 15px;
  background-color: rgb(87, 144, 185);
  border-radius: 5px;
}

.item-lesson:not(:last-of-type) {
  margin-right: 10px;
}

.item-lesson:hover,
.item-lesson:focus {
  background-color: rgb(46, 149, 222);
  cursor: pointer;
}

.item-lesson a {
  color: #fff;
  font-weight: 500;
}

.wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 220px;
  background-color: rgb(161, 199, 227);
}

.nav-btn-img {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.nav-btn-img button {
  display: block;
  margin-bottom: 10px;
}

.nav-btn-img button:not(:last-of-type) {
  margin-right: 10px;
}

.container-btn-img {
  display: flex;
  
}

.container-btn-img img {
  display: inline-block;
  margin-top: 10px;
  border-radius: 5px;
  object-fit: cover;
}

.title {
  font-size: 24px;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 2px #000;
}

.color-picker-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  padding-top: 10px;
  background-color: rgb(157, 117, 117);
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: -10px;
  color: #fff;
  border-radius: 5px;
  
}

.color-picker-btn {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(213, 233, 232);
  text-shadow: 0 0 3px #000;
  margin-bottom: 10px;
  box-shadow: 0 0 3px black;
}

.active {
  box-shadow: 0 0 8px rgb(2, 232, 253);
}

.color-picker-btn:not(:last-of-type) {
  margin-right: 10px;
}

.product__wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: green;
  padding: 15px;
  color: #fff;
}

.product {
  background-color: #000;
  padding: 10px 20px;
  margin: 10px;
  min-width: 250px;
  max-width: 300px;
  min-height: 300px;
  border-radius: 5px;
}

.product:hover,
.product:focus {
  background-color: #fff;
  color: #000;
  cursor: pointer;
}

.product__name {
  text-align: center;
  font-size: 26px;
}

.product__descr {
  font-weight: 500;
  font-size: 20px;
}

.product__price {
  text-align: right;
  font-style: italic;
  font-size: 20px;
  font-weight: 600;
}

.order-wrapper {
  background-color: orange;
  padding: 40px 20px;
}

.order-list {
  
  min-width: 400px;
  max-width: 800px;
  color: #fff;
  box-shadow: 0 0 2px black;
}

.order-item {

}

.order-insert {
  color: red;
  font-weight: 700;
  font-size: 24px;
}

.form-event {
  background-color: rgb(0, 167, 250);
  border-radius: 5px;
  padding: 20px;
}

.form-event input {
  margin-bottom: 10px;
  
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.form-event__wrapper-radio-btn {
  margin-top: 10px;
}

.form-event__wrapper-radio-btn label {
  margin-right: 20px;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 10px;
}

.form-event__wrapper-radio-btn label:hover {
  box-shadow: 0 0 4px grey;
  color:rgb(213, 233, 232);
  text-shadow: 0 0 3px black;
}

.form-event button,
.btn-form {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 15px;
  background-color: rgb(241, 10, 10);
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
  box-shadow: 0 0 4px white;
  text-shadow: 0 0 3px #000;
}

.form-event button:hover,
.btn-form:hover {
  box-shadow: 0 0 4px black;
  color: black;
  text-shadow: 0 0 3px #fff;
}

.event-task-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 15px;
  background-color: rgb(0, 167, 250);
  border-radius: 5px;
}

.event-task-1 label {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* [disabled = "true"] {
  background-color: salmon;
}

[disabled = "false"] {
  background-color: red;
} */

/* .event-task-1 button {
  display: inline-block;
  background-color: red;
  border-radius: 5px;
  padding: 10px 15px;
  max-width: 300px;
  margin-top: 15px;
} */

